$icon-font-path: "/novo/fonts/";
//$icon-font-path: "/fonts/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import "overrides";

$main-blue : #186380;
$main-gray : #A7A7A7;
$font-color-light-default : #f2f2f2;
$font-color-default : #777777;

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: normal;
//  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.woff) format('woff');
//}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

body {
  font-face: $baseFontFamily;
  padding-top: 20px;
  color: $font-color-default;
}

h1 {
  color: $main-blue;
  font-size: 20px;
}

h3 {
  color: $main-blue;
  font-size: 16px;
}

.blue-bullets {
  li {
    color: $main-blue;
  }

  span {
    color: $font-color-default;
  }
}

.header {
  border-bottom: 1px solid $main-gray ;
  min-height: 100px;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100% !important;
  }
}

.menu {
  margin-top: 10px;

  .nav-pills {
    li {
      &.active > a, &.active > a:hover, a:hover {
        color: $font-color-light-default;
        background-color: $main-blue;
      }

      > a {
        padding: 5px 15px;
        color: $main-blue;
      }
    }

  }
}

.carousel {
  width: 100% !important;
  height: 350px;
  margin-top:30px;

  &.col-sm-12, &.col-xs-12 {
    padding: 0px;
    margin: 0px;
  }

  .carousel-image {
    height: 350px !important;
    width: 100%;
    background-size: cover;
  }

  .caroulse-inner {
    border-bottom: 10px solid #ccc;
  }
}

.carousel-indicators {
  opacity: 0.7;
  bottom: 0px;

  li {
    border: 1px solid white;
    background-color: #999999;
  }

  .active {
    background-color: $main-blue;
    padding: 1px;
  }
}

.middle-content {
  h1 {
    margin-top: 0px;
  }

  min-height: 269px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-bottom: 30px;
  vertical-align: top;

  &.mainpage {
    padding-top: 30px;
  }
}

.footer {
  clear: both;
  bottom: 0;
  min-height: 130px;
  width: 100%;
  margin: 0;
  background-color: $main-blue;
  clear: both;
  color: $font-color-light-default;
  padding: 10px;
  padding-top: 30px;

  .social-container {
    text-align: center;

    img {
      margin-left: 10px;
    }
  }

  .col-xs-12 {
    margin-top: 15px;
  }

  a {
    color: $font-color-light-default;
  }
  .glyphicon {
    font-size: 30px;
  }
}

// main page

.initial-image {
  float: left;
  height: 200px;
  border: 5px solid $main-gray;
  margin-right: 50px;
  vertical-align: text-top;
}

.no-content-enough {
 min-height: 589px;
}

// service

.services {
  padding-top: 0px !important;

}