<div ng-include src="'views/header.html'"></div>

<div class="middle-content col-md-10 col-md-offset-1 col-sm-12 col-xs-12 no-content-enough">
	<h1>A Empresa</h1>
	<p>
		Ser Funcional - Espaço de Fisioterapia

		oferece serviços de reabilitação física,

		bem estar e promoção de saúde. Tem

		como objetivo primar pela qualidade e

		excelência nos seus serviços, e para

		isso, oferece atendimento individual e

		personalizado aos seus clientes.
	</p>

</div>

<div class="footer col-xs-12 col-sm-12" ng-include="'views/footer.html'"></div>
