<div ng-include src="'views/header.html'"></div>

<div class="middle-content col-md-10 col-md-offset-1 col-sm-12 col-xs-12 no-content-enough blue-bullets">
	<h1>A Empresa</h1>
	<ul id="galleryPhoto">
		<li><img src="images/pictures/SerFuncional-016.jpg"></li>
		<li><img src="images/pictures/SerFuncional-020.jpg"></li>
		<li><img src="images/pictures/SerFuncional-027.jpg"></li>
	</ul>
	<p>
		A Ser Funcional – Espaço de Fisioterapia iniciou suas atividades no mês de Abril,

		no ano de 2011, realizando atendimentos de Fisioterapia, Hidroterapia, RPG (Reeducação

		Postural Global), Massoterapia, Drenagem Linfática Manual e Pilates. Em 2012, passaram a

		realizar também atendimentos de estética corporal e Kinesio Tape Neuromuscular.

		Situada no Bairro Roçado, próximo a academia de natação Tutubarão (fazer o link para

		o site da academia?), com quem tem uma parceria e comunicação direta entre os profissionais.

		Ao iniciar as atividades da clínica, as Fisioterapeutas Bárbara Borghesan e Fabiane

		Sagaz sentiam que a individualidade dos pacientes deveria ser preservada, e por essa razão,

		deram início aos trabalhos oferecendo somente atendimentos de fisioterapia e hidroterapia

		de forma individual, característica que continua sendo preservada, pois elas acreditam que

		cada paciente é único e suas histórias de vida, hábitos e hobbies devem ser respeitados e

		investigados a cada sessão.
	</p>
	<p>
		Essa mesma característica procura ser levada também para o método Pilates, de

		condicionamento físico, trabalhando com apenas dois alunos por horário para que as aulas

		sejam personalizadas e orientadas especialmente para a necessidade de cada cliente.
	</p>

	<p>
		<h3>Missão:</h3>
		<ul>
			<li><span>Oferecer serviços de reabilitação física, bem estar e promoção de saúde.</span></li>
		</ul>
		<h3>Visão:</h3>
		<ul>
			<li><span>Primar pela qualidade e excelência nos serviços prestados, respeitando a individualidade de seus clientes.</span></li>
		</ul>

		<h3>Valores:</h3>

		<ul>
			<li><span>Pontualidade;</span></li>
			<li><span>Responsabilidade;</span></li>
			<li><span>Ética profissional;</span></li>
			<li><span>Interação com demais profissionais da equipe de saúde;</span></li>
			<li><span>Compromisso com o tratamento de qualidade;</span></li>
		</ul>
	</p>

</div>

<div class="footer col-xs-12 col-sm-12" ng-include="'views/footer.html'"></div>
