<ul id="galleryPhoto">
	<li><img src="images/pictures/SerFuncional-184.jpg"></li>
	<li><img src="images/pictures/SerFuncional-175.jpg"></li>
	<li><img src="images/pictures/SerFuncional-182.jpg"></li>
</ul>

<p>
	A Drenagem Linfática Manual é uma técnica terapêutica que utiliza movimentos suaves

	e ritmados sobre a pele, com o objetivo de acelerar a reabsorção da linfa, líquido presente no

	meio extracelular, para os capilares linfáticos.

	Esses vasos, responsáveis pela reabsorção da linfa, são muito frágeis e superficiais, e

	por essa razão, as manobras da Drenagem Linfática Manual devem ser lentas e suaves, para

	que acompanhem o ritmo de retorno linfático e não cause danos a essas estruturas.

	A técnica é indicada no pós-operatório de cirurgias estéticas e reparadoras, além de

	inúmeras condições que afetem a circulação linfática causando retenção de líquido e edema.

	Além disso, tem ganhado espaço nos tratamentos de estética, tendo em vista seus resultados

	na redução de medidas e celulite.
</p>

<h3>Indicações:</h3>

<ul class="blue-bullets">
	<li><span>Pós-operatório de cirurgias estéticas e reparadoras;</span></li>
	<li><span>Aliviar o desconforto e edemas da gestação;</span></li>
	<li><span>Associada a tratamentos estéticos para melhora da celulite;</span></li>
</ul>