<div ng-include src="'views/header.html'"></div>

<div class="middle-content col-md-10 col-md-offset-1 col-sm-12 col-xs-12 no-content-enough">
	<p>
		Fabiane Salvador Sagaz<br>
		CREFITO 10 136910-F
	</p>

	<p>
		Fisioterapeuta graduada pela Universidade do Estado de Santa Catarina - UDESC
		Formação em RPG/RPM pelo Instituto Barreiros
	</p>


	<p>
		Bárbara Castro Oltramari Borghesan
	</p>


	<p>
		CREFITO 10 2811 LTT/F
	</p>

	<p>
		Fisioterapeuta graduada pela Universidade do Estado de Santa Catarina - UDESC<br>
		Formação em Pilates pela Metacorpus
	</p>

</div>

<div class="footer col-xs-12 col-sm-12" ng-include="'views/footer.html'"></div>
