<p>
	Através do uso de equipamentos, massagens e produtos com ativos específicos,
	procura alcançar a uniformização e melhora do aspecto da pele e reparação de alterações
	como flacidez, gordura localizada e celulite.
	Confira alguns dos nossos recursos.
</p>
<hr>
<h3>ENDERMOLOGIA</h3>

<p>
	A endermologia, ou massagem mecânica, é uma técnica que utiliza a pressoterapia
	por pressão negativa, associada a roletes que empregam pressão positiva simultaneamente,
	destinadas ao aumento circulatório, tanto venoso quanto linfático, e ainda a massoterapia por
	palpação e rolamento, para melhorar a circulação local e dessa forma atuar no fator etiológico
	da celulite, que é o acúmulo de líquido no tecido e a falta de irrigação sanguínea.
</p>

<h3>Indicações:</h3>
<ul class="blue-bullets">
	<li><span>Flacidez</span></li>
	<li><span>Celulite</span></li>
	<li><span>Gordura localizada</span></li>
	<li><span>Redução de medidas</span></li>
	<li><span>Alterações de cicatrização (cicatrizes hipertróficas e quelóide)</span></li>
</ul>

<hr>
<h3>HECCUS – TERAPIA COMBINADA</h3>

<p>
	O Heccus traz uma tecnologia eficaz e segura de combate a celulite, flacidez e gordura
	localizada. Por meio do método de terapias combinadas, o Heccus associa um gerador
	de ultrassom de alta potência com uma corrente de eletroestimulação, a Corrente Aussie
	(Corrente Australiana), para ativação dos sistemas muscular e linfático.
</p>
<p>
	A justificativa para o método é simples. Além de ser não invasivo e indolor, proporciona
	os benefícios de duas modalidades terapêuticas alcançados simultâneamente, podendo haver
	um efeito amplificador de uma terapia sobre a outra, associado com uma redução do tempo
	gasto durante a terapia.
	Entre os principais efeitos da aplicação da técnica estão a melhora da circulação e do
	metabolismo celular na área tratada, o aumento da permeação de substâncias com potencial
	funcional para o tratamento da celulite e da gordura localizada e o estímulo da drenagem
	linfática.
</p>

<h3>Indicações:</h3>
<ul class="blue-bullets">
	<li><span>Pós-operatório de cirurgias plásticas e reparadoras</span></li>
	<li><span>Celulite</span></li>
	<li><span>Flacidez muscular e tecidual</span></li>
	<li><span>Gordura localizada</span></li>
	<li><span>Retenção de líquido</span></li>
	<li><span>Redução de medidas</span></li>
</ul>

<hr>
<h3>MASSAGEM MODELADORA</h3>

<p>
	Através de movimentos vigorosos que combinam rolamentos, descolamento e
	torcedura, a massagem modeladora tem o objetivo de aumentar a circulação local, melhorando
	assim o aspecto e firmeza da pele, bem como o contorno corporal. É realizada associando o
	uso de produtos com ativos que auxiliam na produção do colágeno e na drenagem linfática.
</p>
<p>
	A massagem modeladora é uma modalidade diferente da drenagem linfática manual, e
	não deve ser realizada no pós-operatório de cirurgias plásticas e reparadoras, pois pode
	aumentar ainda mais o edema e equimose.
</p>

<h3>Indicações:</h3>
<ul class="blue-bullets">
	<li><span>Flacidez</span></li>
	<li><span>Celulite</span></li>
	<li><span>Gordura localizada</span></li>
	<li><span>Redução de medidas</span></li>
</ul>
</p>