<p>
	Atua na, prevenção e tratamento dos distúrbios cinéticos funcionais intercorrentes em órgãos e sistemas do corpo humano,
	gerados por alterações genéticas, traumas e por doenças adquiridas. Com um conjuto de técnicas desenvolvidas especificamente para a
	prevenção, diagnóstico e tratamento de disfunções do organismo humano, o fisioterapeuta tem o papel fundamental para o bom funcionamento
	do corpo.
</p>
<p>
	Áreas de atuação: traumato-ortopédica, reumatológica, neurológica, e gestantes.
</p>