<ul id="galleryPhoto">
	<li><img src="images/pictures/SerFuncional-163.jpg" ></li>
</ul>
<p>
	A fisioterapia atua na prevenção e tratamento de disfunções que afetam a
	movimentação, a funcionalidade, a qualidade de vida e/ou a ocupação de indivíduos em
	diferentes fases das suas vidas.
	Através de recursos específicos e de atendimentos individualizados, as fisioterapeutas
	realizam uma investigação detalhada dos hábitos de vida, ocupação, histórico familiar, para
	que a reabilitação seja direcionada para as necessidades de cada paciente.
</p>


<h3>
	Atua nas áreas:
</h3>

<ul class="blue-bullets">
	<li><span>FISIOTERAPIA ORTOPÉDICA E TRAUMATOLÓGICA</span></li>
	<li><span>FISIOTERAPIA REUMATOLÓGICA</span></li>
	<li><span>FISIOTERAPIA NEUROLÓGICA</span></li>
	<li><span>FISIOTERAPIA GERIÁTRICA</span></li>
</ul>
