<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-10 col-xs-offset-1">
	<div class="col-md-4 col-sm-4 col-xs-12">
		<span class="glyphicon glyphicon-map-marker col-md-2 col-sm-2 col-xs-2"></span>
			<span class="col-md-10 col-sm-10 col-xs-10">
				Rua Orlando Silva, 95<br>
				Roçado | São José, SC<br>
				88108-240
			</span>
	</div>

	<div class="col-md-4 col-sm-4 col-xs-12">
		<span class="glyphicon glyphicon-earphone col-md-2 col-sm-2 col-xs-2"></span>
			<span class="col-md-10 col-sm-10 col-xs-10" style="word-wrap: break-word">
				Tel: (48) 4141.0662<br>
				<a href="mailto: serfuncional@bol.com.br">serfuncional@bol.com.br</a>
			</span>
	</div>

	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="social-container">
			<a href="http://www.facebook.com/espacoserfuncional"><img src="images/fb-icon.jpg"></a>
			<a href="http://www.twitter.com/espacoserfuncional"><img src="images/twitter-icon.jpg"></a>
			<a href="mailto: serfuncional@bol.com.br"><img src="images/email-icon.jpg"></a>
		</div>
	</div>
</div>