<p>
	Atividade terapêutica que utiliza os princípios físicos da água, com o intuito de reabilitação física em pacientes com distúrbios diversos pela atuação do Fisioterapeuta.
	Nesta forma de terapia, a água ajuda os pacientes a realizarem seus exercícios mais facilmente, sem dor e com menos esforço do que em terra. Isso ocorre porque, o peso do paciente fica reduzido quando submerso em água.
</p>

<p>
	A Hidroteparia é indicada em casos:
	- Ortopédicos, neurológicos, reumatológicos, pediátricos, respiratórios, psicológicos.
</p>

<p>
	Beneficios:
</p>

<p>
	- Diminuição da dor
	- Relaxamento muscular;
	- Facilita os movimentos;
	- Aumento da circulação periférica;
	- Redução de edema;
	- Fortalecimento muscular;
	- Melhora dos distúrbios do sono;
	- Melhora a ansiedade e o stress;
	- Diminuição da descarga de peso;
</p>