<p>
	A hidroterapia é um recurso terapêutico que utiliza a água aquecida e seus princípios

	para promover a reabilitação mais prazerosa e com menos dor.

	Beneficiando-se das propriedades físicas da água, como resistência, densidade,

	viscosidade e pressão, o fisioterapeuta prescreve exercícios e movimentos que são mais

	facilmente realizados dentro do ambiente aquático, diminuindo assim a sobrecarga articular.

	Além de proporcionar menor estresse articular, fortalece os músculos, aumenta a

	circulação, promove melhora na resposta cardíaca, renal, respiratória e musculoesquelética.

	Melhora o equilíbrio, aumenta a consciência corporal, diminui o stress e promove o

	relaxamento.

	Tem ganhado cada vez mais espaço na prática clínica e no tratamento de lesões

	ortopédicas agudas e crônicas, reumatológicas e na reabilitação de seqüelas neurológicas.

</p>

<h3>Indicações:</h3>

<ul class="blue-bullets">
	<li><span>Hérnia de disco;</span></li>
	<li><span>Artrose;</span></li>
	<li><span>Fibromialgia;</span></li>
	<li><span>Lesão de Labrum Acetabular (Quadril);</span></li>
	<li><span>Espondilite Anquilosante;</span></li>
	<li><span>Gestantes;</span></li>
	<li><span>Capsulite adesiva (Ombro congelado);</span></li>
	<li><span>Posoperatório de cirurgias de coluna, quadril, joelho e pé;</span></li>
</ul>