<ul id="galleryPhoto">
	<li><img class="pull-right default-image" src="images/pictures/SerFuncional-194.jpg"></li>
	<li><img class="pull-right default-image" src="images/pictures/SerFuncional-198.jpg"></li>
</ul>
<p>
	O kinesio tape é um método terapêutico que surgiu no Japão na década de 70 e foi

	desenvolvido pelo Dr. Kenzo Kase em parceria com o Dr. Murai. Muito difundido na prática

	desportiva, o kinesio tape é utilizado para aliviar dores musculares ou melhorar o rendimento

	esportivo através do aumento da performance muscular.

	Também auxilia na redução de edemas e hematomas, na estabilização articular e

	como técnica complementar no tratamento de lesões ortopédicas aliviando a dor, melhorando

	a força muscular e auxiliando na recuperação da função de um paciente nas atividades de vida diária.
</p>

<h3>Indicações:</h3>

<ul class="blue-bullets">
	<li><span>Alívio da dor;</span></li>
	<li><span>Melhora do desempenho muscular;</span></li>
	<li><span>Estabilização e reposicionamento articular;</span></li>
	<li><span>Otimização das atividades de vida diária em pacientes neurológicos;</span></li>
</ul>