<div class="header col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
	<img src="images/logo.jpg">
</div>
<div class="menu col-md-10 col-md-offset-1 col-sm-12 col-xs-12" ng-controller="MainCtrl">
	<ul class="nav nav-pills pull-left">
		<li class="active"><a ng-href="#">Home</a></li>
		<li><a ng-href="#">A Empresa</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle">Serviços</a>
			<ul class="dropdown-menu">
				<li ng-repeat="service in services">
					<a>{{service.name}}</a>
				</li>
			</ul>
		</li>
		<li><a ng-href="#">Equipe</a></li>
		<li><a ng-href="#">Depoimentos</a></li>
		<li><a ng-href="#">Contato</a></li>
	</ul>
	<div class="pull-right">
		<button type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-earphone"></span>
			(48) 4141 0662
		</button>
	</div>
</div>

<div class="carousel col-md-12 col-xs-12 col-sm-12">
	<carousel interval="5000">
		<slide ng-repeat="image in images">
			<img class="carousel-image" style="background-image: url({{image.url}}); background-position: {{image.left}} {{image.top}}">
		</slide>
	</carousel>
</div>

<div class="middle-content col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
	<img src="http://www.ucs.br/portais/cecs/manager/14336/visualizar/" class="initial-image">
	<h1>Ser Funcional</h1>

	Ser Funcional - Espaço de Fisioterapia oferece serviços de reabilitação física, bem estar e promoção de saúde. Tem como objetivo primar pela qualidade e
	excelência nos seus serviços, e para isso, oferece atendimento individual e personalizado aos seus clientes.
	<br><br>
	<a href="">saiba mais</a>
</div>

<div class="footer col-xs-12 col-sm-12" ng-include src="'views/footer.html'">

</div>
