<ul id="galleryPhoto">
	<li><img src="images/pictures/SerFuncional-191.jpg"></li>
	<li><img src="images/pictures/SerFuncional-186.jpg"></li>
	<li><img src="images/pictures/SerFuncional-187.jpg"></li>
	<li><img src="images/pictures/SerFuncional-188.jpg"></li>
	<li><img src="images/pictures/SerFuncional-192.jpg"></li>
</ul>
<p>
	A Massagem Terapêutica é uma técnica que utiliza manobras de deslizamentos,

	amassamento e compressão sobre os músculos, tendões e articulações, com a finalidade de

	promover relaxamento e alívio de tensões musculares.

	Auxilia no aumento da circulação periférica e na resposta imunológica, gerando uma

	sensação de bem-estar físico e emocional.
</p>

<h3>Indicações:</h3>

<ul class="blue-bullets">
	<li><span>Dores musculares;</span></li>
	<li><span>Dores na coluna (cervical, torácica e/ou lombar);</span></li>
	<li><span>Torcicolos;</span></li>
</ul>