<ul id="galleryPhoto">
	<li><img class="pull-right default-image" src="images/pictures/SerFuncional-029.jpg"></li>
</ul>
<p>
	O nutricionista é um profissional que tem como papel a promoção, prevenção,

	manutenção e recuperação da saúde e bem estar através da alimentação.

	Devido aos costumes inerentes à rotina, muitas vezes, deixamos de nos preocupar

	com o que ingerimos, podendo comprometer a qualidade de vida. “Assim sendo, o nutricionista

	é fundamental na orientação e planejamento de hábitos alimentares mais saudáveis.”
</p>