<div ng-include src="'views/header.html'"></div>

<div class="middle-content col-md-10 col-md-offset-1 col-sm-12 col-xs-12 no-content-enough">
	<h1>Parceiros</h1>
	<p class="parceiros">
		<img src="images/parceiros/logo%20clube%20nd.png">
		<img src="images/parceiros/fiesc.gif">
		<img src="images/parceiros/logo-dominik.png">
		<img src="images/parceiros/sintesc-logo.png">
		<img src="images/parceiros/tutubarao-logo.png">
	</p>

</div>

<div class="footer col-xs-12 col-sm-12" ng-include="'views/footer.html'"></div>
