<div ng-include src="'views/header.html'"></div>

<div class="middle-content col-md-10 col-md-offset-1 col-sm-12 col-xs-12 no-content-enough">
	<h1>Parceiros</h1>
	<ul class="parceiros">
		<li>
			<img src="images/parceiros/logo_clube.png">
		</li>
		<li>
			<img src="images/parceiros/tutubarao-logo.png">
		</li>
		<li>
			<img src="images/parceiros/fiesc.gif">
		</li>
		<li>
			<img src="images/parceiros/logo-dominik.png">
		</li>
		<li>
			<img src="images/parceiros/sintesc-logo.png">
		</li>
	</ul>

</div>

<div class="footer col-xs-12 col-sm-12" ng-include="'views/footer.html'"></div>
