<p>
	Desenvolvido na década de 1920 pelo alemão Joseph Pilates, o Método Pilates é um

	sistema de exercícios que trabalha alongamento e fortalecimento muscular através de

	resistências progressivas, respeitando seis princípios: concentração, respiração, ativação de

	centro, controle de movimento, precisão e movimento fluido. Para que as sessões sejam mais

	personalizadas os atendimentos são realizados com dois alunos por instrutor, tendo duração

	de 55 minutos à 1 hora.
</p>
<p>
	Entre os benefícios do método estão o aumento de força muscular e flexibilidade, a

	correção do padrão postural e o maior controle, consciência e percepção dos movimentos.
</p>