<ul id="galleryPhoto">
	<li><img class="pull-right default-image" src="images/pictures/SerFuncional-158.jpg"></li>
</ul>

<p>
	A Reeducação Postural Global pelo Reequilíbrio Proprioceptivo e Muscular (RPG/RPM)

	é um método de tratamento fisioterapêutico, criado pela francesa Françoise Mezièré, que trata

	dos problemas musculares e articulares atuando não somente no sintoma que geralmente é a

	dor, mas sim na causa dela, ocasionados pela má postura.

	A postura do nosso corpo é resultado da combinação de varias estruturas, que são

	influenciados por fatores externos, nos quais somos submetidos diariamente que nos leva a

	adotarmos posturas inadequadas. Cada pessoa possui uma combinação de alterações de

	postura que lhe é particular e, portanto, deve ser tratada de forma individualizada.

	A RPG é uma técnica que busca tratar de maneira integrada os distúrbios musculares

	através de posturas e manobras de tensionamento muscular, que permitam a conscientização

	corporal, o relaxamento e a orientação no espaço. Sempre realizada individualmente.
</p>

<h3>Indicações:</h3>

<ul class="blue-bullets">
	<li><span>Escolioses, lordoses, cifoses</span></li>
	<li><span>Desvios dos pés, joelhos e ombros</span></li>
	<li><span>Hérnias de disco</span></li>
	<li><span>Dores ciáticas e cervicais</span></li>
	<li><span>LER (tendinites, bursites)</span></li>
	<li><span>Cefaléias</span></li>
	<li><span>Correção estética da postura, etc.</span></li>
</ul>