<p>
O método almeja a integridade do ser humano, por meio de um conjunto de técnicas especializadas e direcionadas com a completa análise da morfotipologia (padrão postural) e funcionalidade humana através de uma avaliação minusciosa a fim de podermos culminar nas causas das diversas patologias que podem gerar uma alteração funcional e esta pode promover uma dor.
Além das alterações posturais trabalha-se com pacientes que apresentam:
</p>
<p>
	<ul>
		<li>LER/DORT</li>
		<li>Pacientes Neurológicos</li>
		<li>Hernias de disco</li>
		<li>Disfunções craniomandibulares e cefaléias tensionais</li>
		<li>Disfunções oculomotoras</li>
		<li>Dores Agudas e Crônicas</li>
	</ul>
</p>